@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

aside{
    background-color: #1CD1B0;
    font-size: 48px;
    width: 100%;
    position: fixed; top: 15px;
    padding: 5px 10px 5px 100px;
    z-index: 12;
}

h1{
    background-color: #00669F;
    color: #F3F3F3;
    font-size: 72px;
    font-weight: lighter;
    width: 100%;
    height: 70px;
    padding: 40px 10px 40px 100px;
    position: fixed; top: 10px;
    z-index: 10;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


body{
    font-family: Roboto, sans-serif;
    position: relative;
    top: 150px;
}

main{
    text-align: center;
    align-items: center;
}

h2{
    font-size: 64px;
    position: relative;
    top: 165px;
}

article{
    border-radius: 50px 50px 0 0;
    width: 805px;
    height: 1200px;
    position: relative;
    margin: 60px auto;
    background-color: #F3F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
}

.fas{
    color: #CC2424;
    font-size: 5em;
    width: 67px;
    margin: 5% auto auto 5%;
    position: absolute;
    z-index: 2;
}

.perfil{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 300px;
    left: 200px;
    background-repeat: no-repeat;
    border-radius:  100%;
    background-size: contain;
}

.B{
    background-image: url("/img/batman.jpg");
    background-position: -400px 0px;
    background-size: 1100px;
}

.W{
    background-image: url("/img/wonderw.jpg");
    background-position: -200px 0px;
    background-size: 800px;
}

.S{
    background-image: url("/img/superman.jpg");
    background-position: -230px -40px;
    background-size: 900px;
}

.Background{
    width: 805px;
	height: 492px;
	border-radius: 50px 50px 0 0;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
    box-sizing: border-box;
}

p{
    text-align: center;
    padding: 120px 35px 10px;
    font-size: 25px;
    color: #333333;
    box-sizing: border-box;
    margin: 0;
}

.ver{
    background-color: #00669F;
    color: white;
    font-size: 42px;
    height: 114px;
    width: 346px;
    border: 2pt solid white;
    border-radius: 6px;
    position: relative;
    top: 40px;
}

.mas{
    position: sticky; top: 50px;
    font-size: 40px;
    left: 100%;
    top: 500px;
    width: 47px;
    border-radius: 50px;
    background-color: #00669F;
    color: white;
    border: 0px; 
    z-index: 10px;
}

.git{
    position: relative;
    left: 1550px;
    bottom: 110px;
}

footer{
    background-color: #00669F;
    width: 2056px;
    height: 162px;
}

.derechos {
    color: #F3F3F3;
    font-size: 25px;
    position: relative;
    text-align: center;
    position: relative;
    bottom: 50px;
}